.mainConteiner {
   max-width: 1200px;
   background-color: aquamarine;
   margin: 0 auto;
}

.containsAnimeList {
   max-width: 700px;
   background: pink;
   margin: 0 auto;
}

.AnimeCard {
   max-width: 600px;
   height: 400px;
   background-color: crimson;
   margin: 0 auto;
}
