.mainConteiner {
   display: flex;
   justify-content: space-between;
   max-width: 900px;
   margin: 0 auto;
   @media screen and (max-width: 760px) {
      flex-direction: column;
   }
}

.averageContent {
   max-width: 670px;
   margin: 0 auto;
   display: flex;
}

.conteinerAnimeList {
   max-width: 670px;
   margin: 0 auto;
   .contantAnimeList {
      max-width: 700px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
   }
}

.AnimeCard {
   max-width: 670px;
   margin: 20px 0 0 0;
   background-color: #fed5aa;
   border-radius: 20px 20px 20px 20px;
   box-shadow: -1px 2px 2px #bcbcc1;
   @media screen and (max-width: 760px) {
      margin: 0;
   }
}

.blockNameAnime {
   height: 52px;
   text-align: center;
   color: #de7600;
   .pNameAnime {
      padding: 12px 0px;
      font-family: cursive;
      font-size: 20px;
   }
}

.partitionDiv {
   height: 20px;
   max-width: 670px;
   background-color: #febe8b;
   margin: 1px 0px;
}

.contentAnimeCard {
   padding: 10px;
   min-height: 410px;
}

.divGenres {
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   padding-top: 6px;
}

.AnimeCoverImage {
   width: 284px;
   height: 402px;
   float: left;
   margin-right: 10px;
}

.pTextContent {
   padding-top: 6px;
}

.spanTextContent {
   font-size: 18px;
   font-weight: 600;
   font-family: sans-serif;
}

.spanGenres {
   display: flex;
   align-items: center;
}

.spanTextGenres {
   font-weight: 600;
   font-size: 18px;
   font-family: sans-serif;
}

.pSynopsis {
   font-size: 14px;
}

.divButtonChangePage {
   max-width: 670px;
   display: flex;
   justify-content: space-around;
}

.asideAdditionalInformation {
   width: 200px;
   background-color: #de7600;
}

.containerAsideContent {
   background-color: #fed5aa;
   margin-top: 20px;
   border: solid 1px #d57a66;
   border-radius: 10px;
}

.pNameBlockAside {
   text-align: center;
}

.pTextInformation {
   font-family: 'Noto Sans JP', sans-serif;
   text-align: center;
   font-size: 15px;
}