body,
h1,
h2,
ol,
ul,
p {
   margin: 0;
   padding: 0;
   font-family: 'Noto Sans JP', sans-serif;
}

body {
   background-color: #FFFFFF;
   background-image: url(../public/thumb-1920-714353V2.png);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: auto;
   background-position: top;
}
